@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="row">
        <div class="col-lg-4">BAngladesh is a</div>
        <div class="col-lg-4">My name is Nishi</div>
        <div class="col-lg-4">Home town jessore</div>
        
    </div>
    </div>
